<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" href="/static/css/command.css">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/banner.js"></script>
</head>

<body style="background-color:rebeccapurple ">
    {#校徽#}
    <div id="school">
        <img src="/static/image/b1.jpg">
    </div>

    <!--导航-->
    <div id="nav">
        <ul>
            <li>
                <a href="/web007/web2" target="_self">走进校园</a>
            </li>
            <li>
                <a href="/web007/web3" target="_self">登陆注册</a>
                </li>
            <li>
                <select id="down" class="sel">
                    <option value="01">教学管理系统</option>
                    <option value="02">教学诊断与改进</option>
                    <option value="03">实习就业平台</option>
                    <option value="04">优秀成果展示</option>
                    <option value="05">计算机等级考试</option>
                    <option value="06">英语等级考试</option>
                </select>
{#                <a href="">教学管理</a>#}
            </li>
            <li>
                <a href="">新闻中心</a>
            </li>
            <li>
                <a href="">科学研究</a>
            </li>
            <li>
                <a href="">二级学院</a>
            </li>
            <li>
                <a href="">招生就业</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

    {#轮播图#}
    <div id="banner">
        <img src="/static/image/0001.jpg">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        <a href="javascript:void(0)" class="left"></a>
        <a href="javascript:void(0)" class="right"></a>
    </div>

    {#展示图片#}
    <div id="command">
        <div class="command1">
            <img src="/static/image/a1.jpg">
        </div>
        <div class="command2">
            <img src="/static/image/a2.jpg">
        </div>
        <div class="command3">
            <img src="/static/image/a3.jpg">
        </div>
            <div class="command4">
            <img src="/static/image/a4.jpg">
        </div>
    </div>
    <h2>书读得越多而不加思索，你就会觉得你知道得很多；但当你读书而思考越多的时候，就会清楚地看到，你知道的很少.</h2>
    <h2>三更灯火五更鸡，正是男儿读书时。黑发不知勤学早，白首方悔读书迟。 ——颜真卿 书富如入海，百货皆有．</h2>
    <h2>看文字须大段精彩看，耸起精神，竖起筋骨，不要困，如有刀剑在后一般。就一段中须要透，击其首则尾应,好好学习．</h2>
    <h2>在所阅读的书本中找出可以把自己引到深处的东西，把其他一切统统抛掉，就是抛掉使头脑负担过重和会把自己诱离要点的一切．</h2>
    <h2>我阅读关于我所不懂的题目之书籍时，所用的方法，是先求得该题目的肤表的见解，先浏览许多页和好多章，然后才从头重新读起，以求获得精密的智识．</h2>

</body>
</html>